---
import '../style.css';
import Navbar from '../components/Navigation.astro';
import Hero3 from '../components/Hero3.astro';
import Whyus from '../components/Whyus.astro';
import Insights from '../components/Insights.astro';
import Costeffective from '../components/Costeffective.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>EngageDisk</title>
	</head>
	<body>
		<Navbar />	
		<Hero3 />
		<Whyus />
		<Insights />
		<!--<Costeffective />-->
		<FAQ />
		<Contact />
		<Footer /> 
	</body>	
</html>
