---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
---
        <!-- ........... start contact section ........... -->
        <section class="contact_sec sec_py bg_cover">
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="p-4 p-lg-5 bg-white rounded-4">
                            <h2 class="fs_56 fw_black mb_16">Contact Us</h2>
                            <p class="fs_18 text_dark mb_30">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc odio in et, lectus sit lorem id integer.</p>

                            <div class="mb_20">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="mb_34">
                                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                            </div>
                            <div>
                                <button class="btn btn_primary btn_lg fs_24 w-100">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ........... end contact section ........... -->