---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
import Form from './Form.astro';
---
        <!-- ........... start contact section ........... -->
        <section class="contact_sec sec_py bg_cover">
            <div class="container" id="contact">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="p-4 p-lg-5 bg-white rounded-4">
                            
                            <h2 class="fs_56 fw_black mb_16">Contact Us</h2>
                            <p class="fs_18 text_dark mb_30">Let's work together to grow your engagement!</p>
                            <Form />
                        </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ........... end contact section ........... -->