---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
---
<div class="divider"></div>

<!-- ........... start Cost-Effective section ........... -->
<section class="sec_py">
    <div class="container">
        <h2 class="sec_title">ENGAGEDISK</h2>
        <div class="row g_30 mb-5">
            <div class="col-md-6">
                <h3 class="sec_subTitle">Cost-Effective Solutions for Every Scale</h3>
                <p class="text-capitalize fs_20 mb_43"><b>Mattis faucibus</b> faucibus a eget. Amet interdum
                    blandit elementum odio sodales. Varius morbi sed pharetra et mauris quis urna molestie
                    lacinia orci.</p>
                <div class="row gy-3">
                    <div class="col-sm-6">
                        <h4 class="fs_24 text_secondary fw-semibold mb_20">Volume Discounts:</h4>
                        <p class="fs_20 text_gray mb_20">Turpis nisl praesent tempor congue magna neque amet.
                        </p>
                        <div>
                            <a class="hover_underline fw-semibold text_secondary" href="#">Learn More...</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="fs_24 text_secondary fw-semibold mb_20">Scalable Support:</h4>
                        <p class="fs_20 text_gray mb_20">Turpis nisl praesent tempor congue magna neque amet.
                        </p>
                        <div>
                            <a class="hover_underline fw-semibold text_secondary" href="#">Learn More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                        <picture>
                            <source media="(max-width: 600px)" srcset="https://engagedisk.b-cdn.net/clapping.jpg">
                            <source media="(min-width: 601px)" srcset="https://engagedisk.b-cdn.net/clapping.jpg">
                            <img decoding="async" class="img_grdShadow ce_secImg img-fluid rounded-4 rounded-xl-5" src="https://engagedisk.b-cdn.net/clapping.jpg" alt="a young man clapping during a meeting" width="395" height="523" aria-hidden="true">
        
                        </picture>
            </div>
        </div>
        <div class="border-bottom pt-4 mt-5"></div>
    </div>
</section>
<!-- ........... end Cost-Effective section ........... -->

<div class="divider"></div>