---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
---
<section class="sec_py">
    <div class="container">
        <h2 class="sec_title">FAQ</h2>
        <div class="row g_30">
            <div class="col-md-6">
                <div class="pe-xl-4">
                    <h3 class="sec_subTitle mb_30">Frequently Asked Question</h3>
                    <div class="accordion accordion-flush def_accordion" id="faq_accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_1" aria-expanded="true"
                                    aria-controls="collapse_1">
                                    Lorem ipsum dolor sit ame?
                                </button>
                            </h2>
                            <div id="collapse_1" class="accordion-collapse collapse show"
                                data-bs-parent="#faq_accordion">
                                <div class="accordion-body pt-0 px-0">
                                    <p class="text_gray">Sem morbi netus mauris purus eros blandit tristique at
                                        maecenas. Eu tellus enim cursus lectus nunc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false"
                                    aria-controls="collapse_2">
                                    Lorem ipsum dolor sit amet?
                                </button>
                            </h2>
                            <div id="collapse_2" class="accordion-collapse collapse"
                                data-bs-parent="#faq_accordion">
                                <div class="accordion-body pt-0 px-0">
                                    <p class="text_gray">Sem morbi netus mauris purus eros blandit tristique at
                                        maecenas. Eu tellus enim cursus lectus nunc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse_3" aria-expanded="false"
                                    aria-controls="collapse_3">
                                    Lorem ipsum dolor sit amet?
                                </button>
                            </h2>
                            <div id="collapse_3" class="accordion-collapse collapse"
                                data-bs-parent="#faq_accordion">
                                <div class="accordion-body pt-0 px-0">
                                    <p class="text_gray">Sem morbi netus mauris purus eros blandit tristique at
                                        maecenas. Eu tellus enim cursus lectus nunc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapse_4" aria-expanded="false"
                                    aria-controls="collapse_4">
                                    Lorem ipsum dolor sit amet?
                                </button>
                            </h2>
                            <div id="collapse_4" class="accordion-collapse collapse"
                                data-bs-parent="#faq_accordion">
                                <div class="accordion-body pt-0 px-0">
                                    <p class="text_gray">Sem morbi netus mauris purus eros blandit tristique at
                                        maecenas. Eu tellus enim cursus lectus nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <picture>
                    <source media="(max-width: 600px)" srcset="https://engagedisk.b-cdn.net/team.jpg">
                    <source media="(min-width: 601px)" srcset="https://engagedisk.b-cdn.net/team.jpg">
                    <img decoding="async" class="img_grdShadow ce_secImg img-fluid rounded-4 rounded-xl-5" src="https://engagedisk.b-cdn.net/team.jpg" alt="a group of professionals looking at a laptop screen" width="532" height="562" aria-hidden="true">

                </picture>
            </div>
        </div>
    </div>
</section>
<!-- ........... end Faq section ........... -->