---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
---

<section class="hero_sec bg_cover main">
    <div class="container">
        <div class="row hero">
            <div class="col-sm-10 col-md-9 col-lg-8">
                <h1 class="pg_title mb_30 mt_30">Unlock the Power of <span
                        class="text_primary">Effortless Engagement</span></h1>
                <p class="fs_16 lh_118 text_dark mb_34 me-xl-5 pe-xl-5">Introducing EngageDisk, the cutting-edge
                    NFC technology revolutionizing
                    the way organizations connect with their audience. Designed specifically
                    for churches, nonprofits, and schools, our solution offers a seamless and
                    engaging experience for attendees at in-person meetings and events.</p>
                <div>
                    <a class="btn btn_primary btn_def" href="/#contact">Get Started</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
<style>
    .hero {
        padding-top: 3em;
    }
</style>