---
import '../utils/bootstrap.min.css';
import '../utils/owl.carousel.min.css';
import '../utils/styles.css';
---
<section class="sec_py bg_primaryLt">
    <div class="container">
        <h3 class="sec_subTitle text-center mb_30 mt_60">Elevate Your Brand, Amplify Your Impact</h3>
        <div class="row g_30 mb_34">
            <div class="col-md-6">
                <div class="h-75 w-75">
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://engagedisk.b-cdn.net/meeting_mobile.jpg">
                        <source media="(min-width: 601px)" srcset="https://engagedisk.b-cdn.net/meeting.jpg">
                        <img decoding="async" src="https://engagedisk.b-cdn.net/meeting.jpg" alt="a mustachioed man speaking to an audience in a workroom" width="518" height="582" aria-hidden="true">
    
                    </picture>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g_30">
                    <div class="col-sm-6">
                        <div class="p-4 bg-white rounded-3 h-100">
                            <div class="fs_56 lh-1 text_primary mb-3">
                                <i class="fi fi-rr-customization"></i>
                            </div>
                            <h4 class="fs_24 lh-1 fw_black mb-3">Customized Branding:</h4>
                            <p class="lh_118 mb-0">Stand out with fully branded NFC disks that reflect your
                                unique identity, reinforcing your brand presence at every touchpoint.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-4 bg-white rounded-3 h-100">
                            <div class="fs_56 lh-1 text_primary mb-3">
                                <i class="fi fi-rr-memo-circle-check"></i>
                            </div>
                            <h4 class="fs_24 lh-1 fw_black mb-3">Dynamic Content Updates</h4>
                            <p class="lh_118 mb-0">Keep your content fresh and relevant by updating your digital
                                link pages in real-time, ensuring your messaging resonates with your audience.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-4 bg-white rounded-3 h-100">
                            <div class="fs_56 lh-1 text_primary mb-3">
                                <i class="fi fi-rr-choose"></i>
                            </div>
                            <h4 class="fs_24 lh-1 fw_black mb-3">Simple Tap-to-Engage</h4>
                            <p class="lh_118 mb-0">Eliminate barriers and enhance the attendee experience with
                                our hassle-free NFC disks that allow for instant engagement with a simple phone tap.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-4 bg-white rounded-3 h-100">
                            <div class="fs_56 lh-1 text_primary mb-3">
                                <i class="fi fi-rr-compliance-clipboard"></i>
                            </div>
                            <h4 class="fs_24 lh-1 fw_black mb-3">Robust Data Security</h4>
                            <p class="lh_118 mb-0">Rest assured knowing your data is protected with our advanced
                                security protocols, safeguarding the privacy of your attendees' information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_secondary p-4 p-xl-5 rounded-3">
            <div class="row py-3 gy-3 gx-2 align-items-center">
                <div class="col-lg-3">
                    <picture class="cs-item-background">
                        <source media="(max-width: 600px)" srcset="https://engagedisk.b-cdn.net/EngageDiskBadge.png">
                        <source media="(min-width: 601px)" srcset="https://engagedisk.b-cdn.net/EngageDiskBadge.png">
                        <img decoding="async" src="https://engagedisk.b-cdn.net/EngageDiskBadge.png" alt="a branded engagedisk" width="253" height="134" aria-hidden="true">
    
                    </picture>
                </div>
                <div class="col-lg-6">
                    <div class="fs_24 fw-semibold text-lg-center text-white">Embrace the Future of Engagement</div>
                </div>
                <div class="col-lg-3">
                    <a class="btn btn_primary btn_def" href="#">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ........... end why us section ........... -->